#main {
    background-color: rgba(0, 68, 136, .7);
    padding-bottom: 5px;
    padding-top: 5px;
}

.container-fluid {
    max-width: 100vw;
    background-color: #070707;
}

.table {
    margin-top: 2vh;
    border-collapse: collapse;
    border-spacing: 0 15px;
    background-color: #fefefe;
    width: 100vw;
    table-layout: fixed;
    td,
    th {
        text-align: center;
        word-wrap: break-word;
    }
    th {
        border-bottom: 2px solid #000000;
        &:not(:last-of-type) {
            background-color: #2f2f2f;
            color: #ffffff;
        }
        &:last-of-type {
            background-color: #801717;
        }
    }
    .remove-button-column {
        border-left: 2px solid #000000;
        color: #ffffff;
        background-color: #333333;
    }
    td input {
        width: 5rem;
        &::placeholder {
            color: #9f9f9f;
        }
    }
}

.add-row-button {
    padding-top: 10px;
    text-align: center;
    background-color: #050505;
}

.action-buttons {
    margin: 10px 15px;
}