#main {
    background-color: rgba(0, 68, 136, .7);
    padding-bottom: 5px;
    padding-top: 5px;
}

.container-fluid {
    max-width: 100vw;
    background-color: #070707;
}

.table {
    margin-top: 2vh;
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: #fefefe;
    td,
    th {
        text-align: center;
        word-wrap: break-word;
    }
    th {
        border-bottom: 2px solid #000000;
    }
    .remove-button-column {
        border-left: 2px solid #000000;
        background-color: #49211e;
        color: #ffffff;
    }
}

.add-row-button {
    padding-top: 10px;
    text-align: center;
    background-color: #050505;
}

.action-buttons {
    margin: 10px 15px;
}