header {
    padding-bottom: 3vh;
    background-color: #002244;
    border-bottom: 2px solid #dddddd;
}

p {
    color: #fefefe;
    padding: 5px 10px;
}

select {
    max-width: 100%;
    width: 25rem;
}

#chooser-wrapper {
    margin-left: 1vw;
}