body {
  width: 100vw;
  text-align: center;
}

input:not([type="submit"]) {
  font-size: 1.5rem;
  width: 5rem;
  border: 0;
  background: #039;
  color: #ffffff;
  text-align: right;
}

input:focus, input::placeholder {
  color: #ffffff;
  padding: 3px;
}

th, td {
  border: 3px solid #ffffff;
}

th {
  padding: 5px;
  color: #ffffff;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 2vh; 
  background-color: #024;
}

table, td {
  padding: 2px;
}

td {
  margin: 0 auto;
  text-align: center;
}

input[type="submit"] {
  font-size: 1rem;
  background-color: #064;
  color: #ffffff;
  padding: 10px;
  border: 0;
  margin-left: 3px;
}

button {
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
}

.remove-button {
  background-color: #cc0000;
  margin: 5px;
}

.add-button {
  background-color: #006600;
  margin-right: 5px;
}

.submit-button-row {
  text-align: center;
}