//@import '~bootstrap/scss/bootstrap.scss';

// body {
//   text-align: center;
// }

.content-area {
  padding: 0 5vw;
  width: 100%;
  // height: 100vh;
  // overflow-y: scroll;
}

// .container-fluid {
//   padding: 0;
// }

select {
  width: 33.333333%;
}
 
input {
  padding: 2px;
}

input:not([type="submit"]) {
  font-size: 1.5rem;
  width: 90%;
  border: 0;
  text-align: right;
}

input:focus, input::placeholder {
  padding: 3px;
}

thead {
  background-color: #024;
  th {
    padding: 4px;
    text-align: center;
    color: #ffffff;
  }
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 2vh; 
}

tbody {
  background-color: #048;
  tr {
    td {
      color: #ffffff;
      padding: 5px;
    }
  }
}

table, td {
  padding: 1px;
}

td {
  margin: 0 2px;
  text-align: center;
}

.void-row {
  tr {
    td {
      background-color: #000000;
      text-align: center;
    }
  }
}

.submit-button {
  background-color: #883600;
}

.submit-button-row {
  text-align: center;
}



