@import '~bootstrap/scss/bootstrap.scss';

body {
  text-align: center;
  height: 100vh;
}

.content-area {
  padding: 0 5vw;
  height: 100vh;
  overflow-y: scroll;
}

.container-fluid {
  padding: 0;
}

p {
  text-align: left;
  margin: 5vh 5vw;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0 5vw;
}

input:not([type="submit"]) {
  font-size: 1.5rem;
  width: 90%;
  border: 0;
  background: #039;
  color: #ffffff;
  text-align: right;
}

input:focus, input::placeholder {
  padding: 3px;
}

input:focus {
  background-color: #0088aa;
  color: #ffffff;
}

th {
  padding: 4px;
  color: #ffffff;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 2vh; 
  background-color: #024;
}

// table, td {
//   padding: 1px;
// }

td {
  margin: 0 2px;
  text-align: center;
}

.void-row {
  background-color: #000000;
  
  td {
    text-align: center;
  }
}

input[type="submit"] {
  font-size: 1rem;
  background-color: #064;
  color: #ffffff;
  padding: 10px;
  border: 0;
  margin-left: 3px;
}

button {
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 1rem;
  font-weight: bold;
  padding: 2px;
}

.clear-button {
  background-color: #b68d06;
  padding: 10px;
}

.remove-button {
  background-color: #cc0000;
  margin: 5px;
}

.add-button {
  background-color: #006600;
  margin: 5px;
}

.submit-button-row {
  text-align: center;
}

nav {
  background-color: #004488;
  padding: 10px;
  height: 100vh;

  ul {
    list-style-type: none;
    text-align: left;

    .nav-item.home-link {
      border-bottom: 1px solid #aaaaaa;
      margin-bottom: 2vh;
    }
    
    .nav-link {
      font-size: 1.1rem;
      color: #ffffff;

      &:hover {
        background-color: #1188ff;
        color: #000000;
      }
    }
  }
}

